<div class="new-user">
  <h1>Create New User</h1>
  <%= form_for @user do |f| %>
    <ul>
      <li>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <% if flash[:errors] && flash[:errors]["username"]%>
          <p style="color:red; font-size: 14px;">Username Already Taken</p>
        <% end %><br />
      </li>
      <br>
      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <br/>
      </li>
    </ul>
    <%= f.submit %>
  <% end %>
</div>