
 
 <div style="display: inline-block; margin-right: 150px;">
    <%= form_for @image do |f| %>
        <ul>
            <li>
                <%= f.label :title %>
                <%= f.text_field :title %>
            </li>
            <%= f.check_box :virtual_attribute %>
        </ul>
        <%= f.submit %>
    <% end %>
  </div>

  <div style="display: inline-block">
    <form class="new_image" id="new_image" action="/images" method="post">
        <label for="title">Title</label>
        <input type="text" name="image[title]" id="image_title">
        <br>
        <br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <br>
        <input type="submit" name="commit" value="upload image" data-disable-with="upload image">
    </form>
  </div>

  <br>
  <hr>
  <br>

  <% @image_for_user.each do |image|%>
    <div class="polaroid">
        <img src="<%= image.image_url %>" style="width:100%">
        <div class="container">
            <p><%= image.title %> [ <%= image.width %> x <%= image.height %>]</p>
        </div>
    </div>
    
<% end%>
 

  