<div style="display: inline-block; margin-right: 150px;">
    <b>Upload images</b>
    <%= form_for @image do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :tags %>
        <%= f.text_field :tags %> (add comma separated tag values)
        <%= f.file_field :photo %>
        <%= f.submit :upload%>
    <% end %>
</div>
<br><br>
<div style="display: inline-block">
    <b>Search for images</b>
    <form class="search" id="#{@image.id}" action="/images/show" method="get">
    <label for="title">Title</label>
    <input type="text" name="image[title]" id="image_title">
    <label for="title">Tags</label>
    <input type="text" name="image[tags]" id="image_tags">
    <label for="title">Height</label>
    <input type="text" name="image[height]" id="image_height">
    <label for="title">Width</label>
    <input type="text" name="image[width]" id="image_width">
    <label for="title">Format</label>
    <input type="text" name="image[format]" id="image_format">
    <label for="title">Size in bytes</label>
    <input type="text" name="image[size_in_bytes]" id="image_size">
    <input type="submit" name="commit" value="search">
    </form>    
</div>

<br> <hr> <br>

<% @image_for_user.each do |image|%>
    <div class="polaroid">
        <img src="<%= image.image_url %>" style="width:100%">
        <div class="container">
            <p><%= image.title %> [ <%= image.width %> x <%= image.height %>]</p>
        </div>
    </div>
<% end%>

 

 
