<!DOCTYPE html>
<html>
  <head>
    <title>Picture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'images.css' %>
  </head>

  <body>
    <% if @logged_in %>
      <div style="display: inline-block; margin-right: 150px;">
        Hello, <b><%= @user.username %></b> !!!
      </div>
      <div style="display: inline-block; margin-right: 150px; float: right;">
        <%= button_to "Log out", log_out_path, method: :delete%>
      </div>
    <%else%>
      <%= link_to "Log in", new_login_path %> | 
      <%= link_to "Sign up", new_user_path %>
    <%end%>
    <div>
      <br><br>
      <%= yield %>
    </div>
  </body>
</html>
